:root {
  --bg-color: #f1edee;
  --bg-color-alt: #dbd1d4;
  --text-color: #3d3d3d;
  --blue-dark: #3d5467;
  --red-light: #db5461;
  --red-dark: #d43545;
  --fonts:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica,
    arial, sans-serif;
}
* {
  color: var(--text-color);
}
body {
  background-color: var(--bg-color);
  font-family: var(--fonts);
  margin: 0;
  min-height: 100vh;
}

#main-container {
  display: grid;
  min-height: inherit;
  grid-template-columns: 1fr 5fr;
}

#sidebar {
  background-color: var(--bg-color-alt);
}

nav {
  list-style-type: none;
  padding: 12px 24px;
}

nav > ul {
  list-style-type: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#filters > li {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

nav > ul > li,
#projects-title {
  font-size: clamp(0.7rem, 1.8vw, 1.2rem);
}

#projects-title {
  font-weight: 800;
}

.projects {
  list-style-type: circle;
  font-weight: 300;
  margin: 0;
  padding: 12px;
}

.projects li {
  font-size: clamp(0.5rem, 1.6vw, 0.8rem);
  color: #666;
  padding: 4px 0;
  cursor: pointer;
}

nav > ul > li > img {
  height: auto;
  width: clamp(12px, 1.8vw, 24px);
}

.projects-container > div {
  display: flex;
  align-items: center;
}

.projects-container > div > button {
  display: flex;
  cursor: pointer;
}

#show-add-task-dialog {
  font-size: clamp(0.8rem, 2vw, 1.6rem);
  color: #fff;
  background-color: var(--red-light);
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
}

#show-add-project-dialog {
  background: none;
  border: none;
}

nav > ul > li:hover,
.add-task:hover {
  cursor: pointer;
}

#show-add-task-dialog:hover {
  background-color: var(--red-dark);
}

.content {
  padding-left: 36px;
  padding-top: 24px;
  box-shadow: -10px -1px 34px -21px rgba(0, 0, 0, 0.34);
}

.content h2 {
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--blue-dark);
  font-size: clamp(1.5rem, 4vw, 2.2rem);
  font-weight: 700;
}

.task-container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
}

.task-card {
  background-image: url("assets/backgrounds/paper.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-radius: 2px;
  padding: 12px 24px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-desc {
  margin: 0;
  color: var(--lavender-deep);
  font-size: clamp(1rem, 1.8vw, 1.4rem);
  flex: 1;
}

.delete-button {
  display: flex;
  background-color: var(--red-dark);
  padding: 2px;
  border: none;
  border-radius: 2px;
  color: aliceblue;
}

.delete-button:hover {
  cursor: pointer;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.card-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#add-task-dialog,
#add-project-dialog {
  border: none;
  padding: 24px;
  border-radius: 4px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  animation: fadeOut 0.5s forwards;

  &[open] {
    animation: fadeIn 0.5s forwards;

    &::backdrop {
      animation: backdropFadeIn 0.5s forwards;
    }
  }

  &::backdrop {
    animation: backdropFadeOut 0.5s forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    translate: 0 -1em;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    translate: 0 0;
  }

  to {
    opacity: 0;
    translate: 0 1em;
  }
}

@keyframes backdropFadeIn {
  from {
    background: hsl(0 0% 0% / 0%);
  }

  to {
    background: hsl(0 0% 0% / 50%);
  }
}

@keyframes backdropFadeOut {
  from {
    background: hsl(0 0% 0% / 50%);
  }

  to {
    background: hsl(0 0% 0% / 0%);
  }
}

.close-dialog {
  position: absolute;
  background-color: var(--red-light);
  border: none;
  padding: 4px;
  border-radius: 2px;
  color: aliceblue;
  cursor: pointer;
}

#add-task-dialog div,
#add-project-dialog div {
  display: flex;
  position: relative;
  flex-direction: column;
  font-weight: 600;
}

#add-task-dialog input[type="text"],
#add-project-dialog input[type="text"],
#add-task-dialog input[type="date"] {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}

.dialog-content {
  margin-top: 28px;
}

#add-task-dialog input[type="range"] {
  accent-color: coral;
}

.missing-input {
  background-color: lightcoral !important;
}

#add-task,
#add-project {
  margin-top: 12px;
  border-radius: 2px;
  background-color: darkseagreen;
  padding: 8px;
  color: aliceblue;
  cursor: pointer;
  border: none;
}
